/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : CN
*/


html {
    height: 100%;
    margin: 0;
    padding: 0;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
   min-height:100%;
   position:relative;
}

#header {
   padding:10px;
}

h1 { 
    position:relative;    
    margin: 20px auto 0px; width: 55%;
    font-family: Century Gothic, arial;
    background-color: #cccccc; 
    text-align: left; 
    padding: 1%;   
    
}
h2 {
    position:relative; 
    left: 22%;
    margin: 20px auto 0px; width: 55%;
    font-family: Century Gothic, arial;
    font-size: 2em;
    float: left;
    font-weight: bold;
}
h3 {
    position:static; 
    left: 22%;
    margin: 20px auto 0px; width: 55%;
    font-family: Century Gothic, arial;
    font-size: 2em;
    float: left;
    font-weight: bold;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}

form {
    position:static; 
    left: 22%;
    margin: 20px auto 0px; width: 55%;
    font-family: Century Gothic, arial;
    font-size: 1em;
    float: left;
    font-weight: bold;
}

body {
        font-family: Century Gothic, arial; 
        font-size: 16px; 
        margin: 0px auto;
        left: 22%;
        text-align: left;      
}
article {
        position:relative;
        font-family: Century Gothic, arial; 
        font-size: 16px; 
        left: 22%;
        margin: 0px auto;
        text-align: left; 
              
}
nav {
    text-align: left;
    border: 2px;
    position: relative;
    float: right;
    font-family: Century Gothic, arial;
    right: 22%; 
    padding: 1%; 
    
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   font-family: Century Gothic, arial; 
   font-size: 20px;
   left: 22%;
   
}

/*
    




menu {
    position: relative;
    width: 54%;
    margin: 1% auto 1% auto;
    text-align: left;
    background: #cccccc;
    font-size: 2em;
    font-weight: bold;
    color: #555555;
    border: 1px solid #999999;
    word-spacing: 45px;
    padding-top: 1%;
    padding-left: 1%;
}

main {
    left: 23%;
    position: relative;
    width: 35%;
    background-color: #cccccc;
    font-size: 22px;
    color: #555555;
    text-align: left;
    
}

//footer {
    position:relative; 
    background: #cccccc;
    font-size: 1em;
    color: #555555;
    text-align: center;
    border: 1px solid #999999;
    width: 54%;
    left: 23%; 
}*/
